@model InventoryProduct.Models.Customer

@{
    ViewBag.Title = "DetailsCustomer";
}

<h2>Details of Customer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCustomer", new { id = Model.CustomerId })
</p>
