@model IEnumerable<InventoryProduct.Models.PurchaseOrderDetail>

@{
    ViewBag.Title = "ViewPurchaseDetails";
}

<h2>View Purchase Details</h2>

<p class="btn btn-success" style="margin-bottom:10px">
    @Html.ActionLink("Add A Purchase", "AddAPurchase")
</p>
<table class="table table-bordered table-striped" style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrder.POID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrder.POID)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPurchaseDetails", new { id=item.PODID }) |
            @Html.ActionLink("Details", "PurchaseDetails", new { id=item.PODID }) |
            @Html.ActionLink("Delete", "RemovePurchaseDetails", new { id=item.PODID })
        </td>
    </tr>
}

</table>
